.cart{
    display: flex;
    justify-content: space-between;
}

.cart_items{
    width: 70%;
}

.cart_items > .emptyCart{
    padding: 2rem;
    text-align: center;
}

.emptyCart > img{
    width: 50%;
}

.cart_items > h2{
    text-align: center;
}

table{
    width: 100%;
    text-align: left;
}

table tr td img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

th{
    color: #1D3178;
    padding: 1rem 0;
}

td{
    border-bottom: 1px dotted #E1E1E4;
    padding: 0.5rem 0;
}

.cart_btn{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.cart_btn button{
    padding: 0.4rem 0.8rem;
    background: #FB2E86;
    color: #FFF;
    border: none;
    border-radius: 2px;
}

/*  */

.cart_total > p{
    text-align: center;
    padding: 0.5rem;
    color: #1D3178;
    font-weight: 600;
}

.total_box{
    max-width: 18rem;
    background: #F4F4FC;
    padding: 1rem;
    margin: 0.5rem 0;
}

.total_box > span{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0;
    margin: 0.8rem 0;
    border-bottom: 1px dotted grey;
}

.total_box > span > p:nth-child(1){
    color: #1D3178;
    font-size: 1.2rem;
}
.total_box > span > p:nth-child(2){
    color: #15245E;
    font-size: 1rem;
}

.checkbox{
    font-size: 0.8rem;
    color: #8A91AB;
    padding: 0.6rem 0;
}

.total_box > a > button{
    margin: 0.5rem 0;
    padding: 0.6rem;
    width: 100%;
    color: #FFF;
    background: #19D16F;
    border: 1px solid #19D16F;
    border-radius: 4px;
}

/* .total_box > .cart_calc{
    background: #FB2E86;
    border: 1px solid #FB2E86;
} */

.total_box > span > input{
    background: none;
    border: none;
}

@media (max-width: 800px) {
    .cart{
        flex-direction: column;
    }

    .cart_items{
        width: 100%;
    }

    .cart_total > p{
        text-align: left;
        padding: 0.5rem;
    }
    .total_box{
        max-width: 100%;
        background: #F4F4FC;
        padding: 1rem;
        margin: 0.5rem 0;
        border-radius: 4px;
    }
}