@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Sen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Sen', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color: #101750;
}

.container{
  padding: 2rem;
}

.titled{
  font-size: 2rem;
  font-weight: 700;
  color: #151875;
}

.routed{
  padding-top: 5.5rem;
}

@media (max-width: 600px) {
  .container{
    padding: 2rem 1rem;
  }
}
